<!--<input type="text" [(ngModel)]="message" placeholder="your message...">
<h1>Markers</h1>
<div *ngFor="let marker of markers | async">
  <button (click)="flyTo(marker)">{{ marker.properties.message }}</button>
  <button (click)="removeMarker(marker)">Delete</button>
</div>-->
<!--
<div class="mapDiv">
  <div class="map" id="map"></div>
</div>
-->


<div class="mapDiv">
  <div class='sidebar'>
    <div class='heading'>
      <h1>Our locations</h1>
    </div>
    <div id='listings' class='listings'></div>
  </div>
  <div id='map' class='map pad2'></div>
</div>
