<!-- <app-navbar></app-navbar> -->
<!-- <div><ul>
<li class="nav-item dropdown" style="margin-right: 5px">
        <span dropdown style="display: block">
          <a class="nav-link dropdown-toggle mr-lg-2" id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
            <img src="../assets/message.svg" class="img-responsive rlogo">
          </a>
          <div class="dropdown-menu notification">
            <app-notif-pop-upwrapper>
              <app-real-notif></app-real-notif>
            </app-notif-pop-upwrapper>
          </div>
        </span>
      </li>
    </ul>
</div>
 --> <router-outlet></router-outlet>