.top-container{
  background: #f3ecec;
}

.cust-name{
  /*display:none;*/
  /*left: 115px;*/
  font-size: 18px;
  font-weight: 600;
  margin-top: 13px;
}

#cust-name{
  /*display:none;*/
}


.cust-name .caret{
  margin-left: 4px;
  border-top: 10px dashed;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  color: #19e8a5;
}
.search img {
  width: 28px;
  margin-left: 40px;
  float: left;
  display: inline;
}
.search .ser-inp{
  border: none;
  background-color: #f3ecec;
  padding: 14px 11px;
  width: 85%;
  margin-left: 20px;
  position: absolute;
}
.search button{
  border: none;
  background-color:#f3ecec;
  width: 7%;
  margin-top: 10px;
}

.search button img{
  margin-left: 30px;
}

.search .ser-inp::placeholder {
  color: #F88C10;
  font-style: italic;
  font-size: 18px;
}
.marginLRZero{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.relContainer{
  position: relative;
}

searchSuggest{
  position: absolute;
  left: 15px;
  background-color: red;

}

.suggest-box{
    position: absolute;
    z-index: 1000;
    background: aliceblue;
    left: 75px;
    margin-top: 5px;
}

.filter-select-list{
  list-style-type: none;
  /* border-bottom: 1px solid black; */
}

.filter-option{
  padding: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} 


.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
}
.dropdown-menu{
  width: 610px;
  position: absolute;
  left: 84px;
}

.dropdown-div{
  padding: 15px;
  padding-top: 0;
  max-height: 350px;
  overflow-y: scroll;
}

.dropdown-div li{
  list-style-type: none;
  padding: 6px 0;
  /* background: #19e8a5 */
}
.dropdown-div ul{
  padding-left: 20px;
}

.dropdown-div li:hover{
  font-weight: 600;
  cursor: pointer;  
}

.filter-name{
  font-size: 16px;
  font-weight: 600;
}

.filter-div{
  padding: 10px;
}





.check-container {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0px;
  left: 100px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border:2px solid #000;
}
.check-container:hover input ~ .checkmark {
  background-color: #fff;
  border: 2px solid #000;
}
.check-container input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #000;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-container input:checked ~ .checkmark:after {
  display: block;
}
.check-container .checkmark:after {
  left: 9px;
  top: -10px;
  width: 10px;
  height: 22px;
  border: solid #50E3C2;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}