<div class="mainComponent" style="height: 400px;">
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[9]"
    [center]="[-74.50, 40]"
    (load)="map = $event">

    <mgl-control
      mglGeocoder
      [searchInput]=searchBox
    ></mgl-control>
    <!--<mgl-geojson-source
      id="symbols-source">
      <mgl-feature
        *ngFor="let geometry of geometries"
        [geometry]="geometry"
      ></mgl-feature>
    </mgl-geojson-source>-->

  <mgl-geojson-source
    id="earthquakes"
    [data]=earthquakes
    [cluster]="true"
    [clusterMaxZoom]="14"
    [clusterRadius]="50"
  ></mgl-geojson-source>
  </mgl-map>
</div>
